*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    height:60px;
    width:100vw;
    background:black;
    justify-content: space-between;
    align-items: center;
}
.blog{
    padding-top: 40px;
    font-size: 20px;
}

.tag{
    background-color: black;
    color:white;
}
.left{
    display:flex;
}
.icon{
    justify-content: space-between;

    height:1.5rem;
    width:1.5rem;
    

}
/* .icon:hover{
    background-color:yellow;
    cursor: pointer;
} */

.head{
    height:300px;
    border:1px solid black;
    margin: auto;
    width: 85%;
    text-align: center;
  
}
.second1{
    height:1200px;
    background-image:url(jane.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    margin:auto;
    width:85%;
}

.font{
    font-size: 30px;
    color:white;
}

/* section's css started */

.container{
    display:flex;
    margin:auto;
    width:85%;
    height:3000px;
    border:1px solid black;
}
.left-container{
    height:3000px;
    width:70%;
    border:1px solid black;
}
.title1{
    height:1207px;
    width:90%;
    margin:auto;
    border:1px solid black;

}
.title1-child1{
    height:10%;
    width:100%;
    text-align: center;  
}
.title1-child2{
    
    height:50%;
    width:100%;
    margin-left: auto;
    margin-right: auto
}
.girlhat{
    margin:auto;
    height:100% ;
    width:90%;
   
}
.left{
    float:left;
}


.right-container{
    height:2261px;
    width:489px;
    margin: 25px 0 25px 0;

}

.box1{
    height: 267px;
    width:600px;
    margin-left:20px;

}
.avatar{
    margin:auto;
    height:267px;
    width:450px;

}
.bar1{
    margin:auto;
    height: 140px;
    width:92%;
    background:black;
    color:white;    
}
.bar2{
    height:45px;
    width:100%;
    color:white;
    background:black;
    margin:10px 10px ;
}
